* {
  background-color: black;
  color: green;
  font-family: 'Roboto Mono', monospace;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  background-color: #212121;
  border-radius: 5px;
}

.inputField {
  margin-top: 16px;
  padding: 8px;
  border: 0;
  background-color: #212121;
  border-radius: 5px;
}
